.Menu {
  $primary-color: #525dce;
  $primary-background: #242a3a;
  background-color: $primary-background;
  width: 13%;
  min-width: 130px;
  padding: 3%;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    justify-content: center;
  }

  li {
    margin: 10px 20px;
  }

  a {
    text-decoration: none;
  }

  a,
  a:visited {
    color: #ffffff;
  }

  a:hover {
    color: $primary-color;
  }

  button {
    background-color: #1899fe;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    line-height: 6px;
  }

  button:hover {
    background-color: $primary-color;
  }

  .title {
    color: #61728c;
    padding: 8px;
  }

  #checkbox-1 {
    background-color: #ffcc45;
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    padding: 8px;
    top: 5px;
  }
  #checkbox-2 {
    background-color: #45d1b7;
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    padding: 8px;
    top: 5px;
  }
  #checkbox-3 {
    background-color: #47c05f;
    -webkit-appearance: none;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    padding: 8px;
    top: 5px;
  }

  .labelItem {
    padding: 5px;
  }
}
