.List {
  display: flex;
}

.Sender {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;

  .picture {
    padding: 10px;
    left: 1px;
  }

  .info {
    padding: 5px;
  }

  .name {
    font-weight: bold;
  }
}
