.List {
  display: flex;
  min-width: 300px;
}

.fullElement {
  :hover {
    background-color: gray;
  }

}

.Sender {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  max-width: 300px;

  
  .picture {
    padding: 10px;
    left: 1px;
  }
  
  .name {
    color:#AEAEAE;
    margin:0;
  }

  .title {
    margin:0;
    font-weight: bold;
  }

  .info {
    padding: 5px;
  }

}

@media screen and (max-width: 600px){
  .List {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    background-color: #65A6D5;
  }

  .Sender{
    border:0;
  }
}
