.App {
  display: flex;
  flex-direction: row;
  flex:1;

  .Menu {
    flex: 0;
  }
  .List {
    flex: 0;
  }
  .Body {
    flex:1;

  }
}

@media screen and (max-width: 600px){
  .App {
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;

    .Menu {
      flex: 1;
      width: 100%;
      align-items: center;
    }
    .List {
      flex: 1;
      width: 100%;
      align-items: center;
    }
    .Body {
      flex:1;
      width: 100%;
    }

  }
}
